In [1]:
import json
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key

In [54]:
#trying to find data from another year - There is not Census info for each year

c_2011 = Census(api_key, year=2011)
census_data = c_2011.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E"), {'for': 'zip code tabulation area:*'})

census_2011 = pd.DataFrame(census_data)

# Column Reordering
census_2011 = census_2011.rename(columns={"B25064_001E": "Median Rent+Utilities",
                                      "B01003_001E": "Total Population",
                                      "B19013_001E": "Household Income",
                                      "B23025_005E": "# Unemployed",
                                      "B17001_002E": "Poverty Count",
                                      "B01002_001E": "Median Age",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_2011 = census_2011[["Zipcode", "Total Population", "Household Income",
                       "Median Rent+Utilities", "# Unemployed"]]
 
# Visualize
print(len(census_2011))
census_2011.head(10)

33120

,Zipcode,Total Population,Household Income,Median Rent+Utilities,# Unemployed
0,02368,32089.0,64696.0,1146.0,1896.0
1,02370,17515.0,63896.0,1025.0,1089.0
2,02375,9007.0,79595.0,1239.0,378.0
3,02379,6896.0,80729.0,873.0,352.0
4,02382,14430.0,74610.0,1019.0,603.0
5,02420,13831.0,146667.0,1875.0,259.0
6,02421,17298.0,130592.0,1888.0,411.0
7,02445,21110.0,108313.0,1719.0,432.0
8,02446,28601.0,79278.0,1716.0,893.0
9,02451,16662.0,75129.0,1573.0,486.0

In [55]:
#trying to find data from another year - There is not Census info for each year

c_2012 = Census(api_key, year=2012)
census_data = c_2012.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E"), {'for': 'zip code tabulation area:*'})

census_2012 = pd.DataFrame(census_data)

# Column Reordering
census_2012 = census_2012.rename(columns={"B25064_001E": "Median Rent+Utilities",
                                      "B01003_001E": "Total Population",
                                      "B19013_001E": "Household Income",
                                      "B23025_005E": "# Unemployed",
                                      "B17001_002E": "Poverty Count",
                                      "B01002_001E": "Median Age",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_2012 = census_2012[["Zipcode", "Total Population", "Household Income",
                       "Median Rent+Utilities", "# Unemployed"]]
 
# Visualize
print(len(census_2012))
census_2012.head(10)

33120

,Zipcode,Total Population,Household Income,Median Rent+Utilities,# Unemployed
0,02322,4349.0,70481.0,1131.0,351.0
1,02324,26687.0,90722.0,1144.0,1290.0
2,02330,11497.0,67963.0,1547.0,625.0
3,02332,15040.0,117197.0,957.0,520.0
4,02333,13794.0,80169.0,993.0,446.0
5,02338,7524.0,77905.0,1229.0,362.0
6,02339,13902.0,99856.0,916.0,532.0
7,02341,10209.0,92736.0,1009.0,505.0
8,02343,10595.0,61825.0,1152.0,538.0
9,02346,23037.0,74764.0,1081.0,1190.0

In [56]:
#pulling data from 2013
c_2013 = Census(api_key, year=2013)
census_data = c_2013.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E"), {'for': 'zip code tabulation area:*'})

census_2013 = pd.DataFrame(census_data)

# Column Reordering
census_2013 = census_2013.rename(columns={"B25064_001E": "Median Rent+Utilities",
                                      "B01003_001E": "Total Population",
                                      "B19013_001E": "Household Income",
                                      "B23025_005E": "# Unemployed",
                                      "B17001_002E": "Poverty Count",
                                      "B01002_001E": "Median Age",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_2013 = census_2013[["Zipcode", "Total Population", "Household Income",
                       "Median Rent+Utilities", "# Unemployed"]]

# Visualize
print(len(census_2013))
census_2013.head(10)

33120

,Zipcode,Total Population,Household Income,Median Rent+Utilities,# Unemployed
0,01832,22121.0,57833.0,922.0,1258.0
1,01833,8295.0,107775.0,1210.0,320.0
2,01834,6675.0,97463.0,1056.0,233.0
3,01835,13527.0,72228.0,1089.0,452.0
4,01840,4547.0,18261.0,682.0,255.0
5,01841,47676.0,31214.0,1000.0,3091.0
6,01843,24597.0,42891.0,1023.0,1259.0
7,01844,47690.0,67556.0,958.0,1920.0
8,01845,28677.0,96002.0,1310.0,1306.0
9,01850,15496.0,51538.0,975.0,1118.0

In [57]:
#pulling data from 2014
c_2014 = Census(api_key, year=2014)
census_data = c_2014.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E"), {'for': 'zip code tabulation area:*'})

census_2014 = pd.DataFrame(census_data)

# Column Reordering
census_2014 = census_2014.rename(columns={"B25064_001E": "Median Rent+Utilities",
                                      "B01003_001E": "Total Population",
                                      "B19013_001E": "Household Income",
                                      "B23025_005E": "# Unemployed",
                                      "B17001_002E": "Poverty Count",
                                      "B01002_001E": "Median Age",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_2014 = census_2014[["Zipcode", "Total Population", "Household Income",
                       "Median Rent+Utilities", "# Unemployed"]]

# Visualize
print(len(census_2014))
census_2014.head(10)

33120

,Zipcode,Total Population,Household Income,Median Rent+Utilities,# Unemployed
0,01740,5019.0,144461.0,950.0,149.0
1,01741,4967.0,157500.0,2001.0,147.0
2,01742,18948.0,132736.0,1573.0,303.0
3,01745,309.0,117955.0,-666666666.0,21.0
4,01746,14008.0,108350.0,971.0,535.0
5,01747,5934.0,99886.0,1089.0,170.0
6,01748,15604.0,128267.0,1363.0,412.0
7,01749,19464.0,74082.0,1151.0,636.0
8,01752,39141.0,71424.0,1142.0,1661.0
9,01754,10314.0,79252.0,1071.0,412.0

In [58]:
#pulling data from 2015
c_2015 = Census(api_key, year=2015)
census_data = c_2015.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E"), {'for': 'zip code tabulation area:*'})

census_2015 = pd.DataFrame(census_data)

# Column Reordering
census_2015 = census_2015.rename(columns={"B25064_001E": "Median Rent+Utilities",
                                      "B01003_001E": "Total Population",
                                      "B19013_001E": "Household Income",
                                      "B23025_005E": "# Unemployed",
                                      "B17001_002E": "Poverty Count",
                                      "B01002_001E": "Median Age",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_2015 = census_2015[["Zipcode", "Total Population", "Household Income",
                       "Median Rent+Utilities", "# Unemployed"]]

# Visualize
print(len(census_2015))
census_2015.head(10)

33120

,Zipcode,Total Population,Household Income,Median Rent+Utilities,# Unemployed
0,65586,15.0,-666666666.0,-666666666.0,0.0
1,65588,2772.0,33413.0,441.0,130.0
2,65589,326.0,36117.0,-666666666.0,0.0
3,65590,1195.0,31298.0,491.0,37.0
4,65591,1837.0,47266.0,571.0,178.0
5,65601,652.0,41488.0,575.0,13.0
6,65603,182.0,NaN,-666666666.0,0.0
7,65604,4035.0,45918.0,642.0,81.0
8,65605,11728.0,36458.0,631.0,639.0
9,65606,3417.0,26662.0,471.0,73.0

In [62]:
## merge all years of data
all_data= pd.merge(census_2011, census_2012, on="Zipcode", how="left")
all_data

,Zipcode,Total Population_x,Household Income_x,Median Rent+Utilities_x,# Unemployed_x,Total Population_y,Household Income_y,Median Rent+Utilities_y,# Unemployed_y
0,02368,32089.0,64696.0,1146.0,1896.0,32577.0,62947.0,1202.0,2154.0
1,02370,17515.0,63896.0,1025.0,1089.0,17518.0,64386.0,1036.0,946.0
2,02375,9007.0,79595.0,1239.0,378.0,9480.0,83370.0,1209.0,452.0
3,02379,6896.0,80729.0,873.0,352.0,6907.0,78207.0,890.0,336.0
4,02382,14430.0,74610.0,1019.0,603.0,14493.0,74371.0,1026.0,683.0
...,...,...,...,...,...,...,...,...,...
33115,98645,1182.0,54327.0,807.0,54.0,1337.0,52875.0,931.0,92.0
33116,98647,335.0,31953.0,708.0,9.0,225.0,40833.0,-666666666.0,0.0
33117,98648,3505.0,51372.0,666.0,199.0,3098.0,52074.0,634.0,183.0
33118,98649,1038.0,49808.0,689.0,41.0,1000.0,53542.0,690.0,30.0
33119,98650,855.0,45833.0,844.0,33.0,819.0,44861.0,910.0,21.0