In [1]:
%matplotlib notebook

In [2]:
import json
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key

In [3]:
#trying to find data from another year - There is not Census info for each year

c_2011 = Census(api_key, year=2011)
census_data = c_2011.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E", "B01002_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2011 = pd.DataFrame(census_data)

# Column Reordering
census_2011 = census_2011.rename(columns={"B25064_001E": "Median Rent+Utilities 2011",
                                      "B01003_001E": "Total Population 2011",
                                      "B19013_001E": "Household Income 2011",
                                      "B23025_005E": "# Unemployed 2011",
                                      "B17001_002E": "Poverty Count 2011",
                                      "B01002_001E": "Median Age 2011",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#add in unemployment rate
census_2011['Unemployment Rate 2011'] = census_2011['# Unemployed 2011'] / census_2011['Total Population 2011'] *100


# Final DataFrame
census_2011 = census_2011[["Zipcode", "Total Population 2011", "Household Income 2011",
                       "Median Rent+Utilities 2011", "# Unemployed 2011", "Unemployment Rate 2011"]]

# Visualize
census_2011.head(10)

,Zipcode,Total Population 2011,Household Income 2011,Median Rent+Utilities 2011,# Unemployed 2011,Unemployment Rate 2011
0,02368,32089.0,64696.0,1146.0,1896.0,5.908567
1,02370,17515.0,63896.0,1025.0,1089.0,6.217528
2,02375,9007.0,79595.0,1239.0,378.0,4.196736
3,02379,6896.0,80729.0,873.0,352.0,5.104408
4,02382,14430.0,74610.0,1019.0,603.0,4.178794
5,02420,13831.0,146667.0,1875.0,259.0,1.872605
6,02421,17298.0,130592.0,1888.0,411.0,2.375997
7,02445,21110.0,108313.0,1719.0,432.0,2.046423
8,02446,28601.0,79278.0,1716.0,893.0,3.122268
9,02451,16662.0,75129.0,1573.0,486.0,2.916817

In [4]:
#trying to find data from another year - There is not Census info for each year

c_2012 = Census(api_key, year=2012)
census_data = c_2012.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E", "B01002_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2012 = pd.DataFrame(census_data)

# Column Reordering
census_2012 = census_2012.rename(columns={"B25064_001E": "Median Rent+Utilities 2012",
                                      "B01003_001E": "Total Population 2012",
                                      "B19013_001E": "Household Income 2012",
                                      "B23025_005E": "# Unemployed 2012",
                                      "B17001_002E": "Poverty Count 2012",
                                      "B01002_001E": "Median Age 2012",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#add in unemployment rate
census_2012['Unemployment Rate 2012'] = census_2012['# Unemployed 2012'] / census_2012['Total Population 2012'] *100


# Final DataFrame
census_2012 = census_2012[["Zipcode", "Total Population 2012", "Household Income 2012",
                       "Median Rent+Utilities 2012", "# Unemployed 2012", "Unemployment Rate 2012"]]
 
# Visualize
print(len(census_2012))
census_2012.head(10)

33120

,Zipcode,Total Population 2012,Household Income 2012,Median Rent+Utilities 2012,# Unemployed 2012,Unemployment Rate 2012
0,02322,4349.0,70481.0,1131.0,351.0,8.070821
1,02324,26687.0,90722.0,1144.0,1290.0,4.833814
2,02330,11497.0,67963.0,1547.0,625.0,5.436201
3,02332,15040.0,117197.0,957.0,520.0,3.457447
4,02333,13794.0,80169.0,993.0,446.0,3.233290
5,02338,7524.0,77905.0,1229.0,362.0,4.811271
6,02339,13902.0,99856.0,916.0,532.0,3.826788
7,02341,10209.0,92736.0,1009.0,505.0,4.946616
8,02343,10595.0,61825.0,1152.0,538.0,5.077867
9,02346,23037.0,74764.0,1081.0,1190.0,5.165603

In [5]:
#pulling data from 2013
c_2013 = Census(api_key, year=2013)
census_data = c_2013.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E", "B01002_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2013 = pd.DataFrame(census_data)

# Column Reordering
census_2013 = census_2013.rename(columns={"B25064_001E": "Median Rent+Utilities 2013",
                                      "B01003_001E": "Total Population 2013",
                                      "B19013_001E": "Household Income 2013",
                                      "B23025_005E": "# Unemployed 2013",
                                      "B17001_002E": "Poverty Count 2013",
                                      "B01002_001E": "Median Age 2013",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#add in unemployment rate
census_2013['Unemployment Rate 2013'] = census_2013['# Unemployed 2013'] / census_2013['Total Population 2013'] *100


# Final DataFrame
census_2013 = census_2013[["Zipcode", "Total Population 2013", "Household Income 2013",
                       "Median Rent+Utilities 2013", "# Unemployed 2013", "Unemployment Rate 2013"]]


# Visualize
print(len(census_2013))
census_2013.head(10)

33120

,Zipcode,Total Population 2013,Household Income 2013,Median Rent+Utilities 2013,# Unemployed 2013,Unemployment Rate 2013
0,01832,22121.0,57833.0,922.0,1258.0,5.686904
1,01833,8295.0,107775.0,1210.0,320.0,3.857746
2,01834,6675.0,97463.0,1056.0,233.0,3.490637
3,01835,13527.0,72228.0,1089.0,452.0,3.341465
4,01840,4547.0,18261.0,682.0,255.0,5.608093
5,01841,47676.0,31214.0,1000.0,3091.0,6.483346
6,01843,24597.0,42891.0,1023.0,1259.0,5.118510
7,01844,47690.0,67556.0,958.0,1920.0,4.026001
8,01845,28677.0,96002.0,1310.0,1306.0,4.554172
9,01850,15496.0,51538.0,975.0,1118.0,7.214765

In [6]:
#pulling data from 2014
c_2014 = Census(api_key, year=2014)
census_data = c_2014.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E", "B01002_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2014 = pd.DataFrame(census_data)

# Column Reordering
census_2014 = census_2014.rename(columns={"B25064_001E": "Median Rent+Utilities 2014",
                                      "B01003_001E": "Total Population 2014",
                                      "B19013_001E": "Household Income 2014",
                                      "B23025_005E": "# Unemployed 2014",
                                      "B17001_002E": "Poverty Count 2014",
                                      "B01002_001E": "Median Age 2014",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#add in unemployment rate
census_2014['Unemployment Rate 2014'] = census_2014['# Unemployed 2014'] / census_2014['Total Population 2014'] *100


# Final DataFrame
census_2014 = census_2014[["Zipcode", "Total Population 2014", "Household Income 2014",
                       "Median Rent+Utilities 2014", "# Unemployed 2014", "Unemployment Rate 2014"]]

# Visualize
print(len(census_2014))
census_2014.head(10)

33120

,Zipcode,Total Population 2014,Household Income 2014,Median Rent+Utilities 2014,# Unemployed 2014,Unemployment Rate 2014
0,01740,5019.0,144461.0,950.0,149.0,2.968719
1,01741,4967.0,157500.0,2001.0,147.0,2.959533
2,01742,18948.0,132736.0,1573.0,303.0,1.599113
3,01745,309.0,117955.0,-666666666.0,21.0,6.796117
4,01746,14008.0,108350.0,971.0,535.0,3.819246
5,01747,5934.0,99886.0,1089.0,170.0,2.864847
6,01748,15604.0,128267.0,1363.0,412.0,2.640349
7,01749,19464.0,74082.0,1151.0,636.0,3.267571
8,01752,39141.0,71424.0,1142.0,1661.0,4.243632
9,01754,10314.0,79252.0,1071.0,412.0,3.994570

In [7]:
#pulling data from 2015
c_2015 = Census(api_key, year=2015)
census_data = c_2015.acs5.get(("NAME", "B25064_001E", "B01003_001E", "B19013_001E", "B23025_005E", "B01002_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_2015 = pd.DataFrame(census_data)

# Column Reordering
census_2015 = census_2015.rename(columns={"B25064_001E": "Median Rent+Utilities 2015",
                                      "B01003_001E": "Total Population 2015",
                                      "B19013_001E": "Household Income 2015",
                                      "B23025_005E": "# Unemployed 2015",
                                      "B17001_002E": "Poverty Count 2015",
                                      "B01002_001E": "Median Age 2015",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#add in unemployment rate
census_2015['Unemployment Rate 2015'] = census_2015['# Unemployed 2015'] / census_2015['Total Population 2015'] *100


# Final DataFrame
census_2015 = census_2015[["Zipcode", "Total Population 2015", "Household Income 2015",
                       "Median Rent+Utilities 2015", "# Unemployed 2015", "Unemployment Rate 2015"]]

# Visualize
print(len(census_2015))
census_2015.head(10)

33120

,Zipcode,Total Population 2015,Household Income 2015,Median Rent+Utilities 2015,# Unemployed 2015,Unemployment Rate 2015
0,65586,15.0,-666666666.0,-666666666.0,0.0,0.000000
1,65588,2772.0,33413.0,441.0,130.0,4.689755
2,65589,326.0,36117.0,-666666666.0,0.0,0.000000
3,65590,1195.0,31298.0,491.0,37.0,3.096234
4,65591,1837.0,47266.0,571.0,178.0,9.689711
5,65601,652.0,41488.0,575.0,13.0,1.993865
6,65603,182.0,NaN,-666666666.0,0.0,0.000000
7,65604,4035.0,45918.0,642.0,81.0,2.007435
8,65605,11728.0,36458.0,631.0,639.0,5.448499
9,65606,3417.0,26662.0,471.0,73.0,2.136377

In [8]:
## merge all years of data
merge_11_12= pd.merge(census_2011, census_2012, on="Zipcode", how="left")
merge_with_13 = pd.merge(merge_11_12, census_2013, on='Zipcode', how='left')
merge_with_14 = pd.merge(merge_with_13, census_2014, on='Zipcode', how='left')
all_data = pd.merge(merge_with_14, census_2015, on='Zipcode', how='left')
all_data

,Zipcode,Total Population 2011,Household Income 2011,Median Rent+Utilities 2011,# Unemployed 2011,Unemployment Rate 2011,Total Population 2012,Household Income 2012,Median Rent+Utilities 2012,# Unemployed 2012,...,Total Population 2014,Household Income 2014,Median Rent+Utilities 2014,# Unemployed 2014,Unemployment Rate 2014,Total Population 2015,Household Income 2015,Median Rent+Utilities 2015,# Unemployed 2015,Unemployment Rate 2015
0,02368,32089.0,64696.0,1146.0,1896.0,5.908567,32577.0,62947.0,1202.0,2154.0,...,33265.0,63325.0,1290.0,2812.0,8.453329,33409.0,63681.0,1324.0,2664.0,7.973899
1,02370,17515.0,63896.0,1025.0,1089.0,6.217528,17518.0,64386.0,1036.0,946.0,...,17616.0,66860.0,1092.0,902.0,5.120345,17663.0,69247.0,1159.0,651.0,3.685671
2,02375,9007.0,79595.0,1239.0,378.0,4.196736,9480.0,83370.0,1209.0,452.0,...,9687.0,86695.0,1142.0,423.0,4.366677,9611.0,88090.0,1325.0,473.0,4.921444
3,02379,6896.0,80729.0,873.0,352.0,5.104408,6907.0,78207.0,890.0,336.0,...,6981.0,81573.0,1094.0,373.0,5.343074,7008.0,81119.0,1022.0,323.0,4.609018
4,02382,14430.0,74610.0,1019.0,603.0,4.178794,14493.0,74371.0,1026.0,683.0,...,14643.0,76494.0,1083.0,697.0,4.759954,14715.0,72490.0,989.0,592.0,4.023106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,98645,1182.0,54327.0,807.0,54.0,4.568528,1337.0,52875.0,931.0,92.0,...,1193.0,54792.0,944.0,78.0,6.538139,1359.0,58958.0,945.0,77.0,5.665931
33116,98647,335.0,31953.0,708.0,9.0,2.686567,225.0,40833.0,-666666666.0,0.0,...,247.0,26488.0,-666666666.0,0.0,0.000000,364.0,NaN,-666666666.0,9.0,2.472527
33117,98648,3505.0,51372.0,666.0,199.0,5.677603,3098.0,52074.0,634.0,183.0,...,2836.0,51471.0,617.0,181.0,6.382228,2668.0,51818.0,605.0,120.0,4.497751
33118,98649,1038.0,49808.0,689.0,41.0,3.949904,1000.0,53542.0,690.0,30.0,...,1182.0,72045.0,740.0,19.0,1.607445,1026.0,58824.0,783.0,10.0,0.974659
33119,98650,855.0,45833.0,844.0,33.0,3.859649,819.0,44861.0,910.0,21.0,...,876.0,53750.0,1060.0,7.0,0.799087,1008.0,61339.0,1071.0,10.0,0.992063

In [9]:
#rent costs dataframe
rent_costs_year = all_data[['Zipcode', 'Median Rent+Utilities 2011', 'Median Rent+Utilities 2012', 'Median Rent+Utilities 2013', 'Median Rent+Utilities 2014', 'Median Rent+Utilities 2015']]
rent_cost_compare = pd.DataFrame(rent_costs_year)
rent_cost_compare.set_index(['Zipcode'])
rent_cost_compare

,Zipcode,Median Rent+Utilities 2011,Median Rent+Utilities 2012,Median Rent+Utilities 2013,Median Rent+Utilities 2014,Median Rent+Utilities 2015
0,02368,1146.0,1202.0,1228.0,1290.0,1324.0
1,02370,1025.0,1036.0,1075.0,1092.0,1159.0
2,02375,1239.0,1209.0,1162.0,1142.0,1325.0
3,02379,873.0,890.0,943.0,1094.0,1022.0
4,02382,1019.0,1026.0,979.0,1083.0,989.0
...,...,...,...,...,...,...
33115,98645,807.0,931.0,896.0,944.0,945.0
33116,98647,708.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0
33117,98648,666.0,634.0,690.0,617.0,605.0
33118,98649,689.0,690.0,929.0,740.0,783.0
33119,98650,844.0,910.0,1036.0,1060.0,1071.0

In [11]:
# unemployment rate
unemp_pct_years = all_data[['Zipcode', 'Unemployment Rate 2011', 'Unemployment Rate 2012', 'Unemployment Rate 2013', 'Unemployment Rate 2014', 'Unemployment Rate 2015']]
unempployment_rate = pd.DataFrame(unemp_pct_years)
unempployment_rate.set_index(['Zipcode'])
unempployment_rate

,Zipcode,Unemployment Rate 2011,Unemployment Rate 2012,Unemployment Rate 2013,Unemployment Rate 2014,Unemployment Rate 2015
0,02368,5.908567,6.612027,7.450231,8.453329,7.973899
1,02370,6.217528,5.400160,5.602417,5.120345,3.685671
2,02375,4.196736,4.767932,4.840842,4.366677,4.921444
3,02379,5.104408,4.864630,5.903580,5.343074,4.609018
4,02382,4.178794,4.712620,4.496465,4.759954,4.023106
...,...,...,...,...,...,...
33115,98645,4.568528,6.881077,8.463950,6.538139,5.665931
33116,98647,2.686567,0.000000,0.000000,0.000000,2.472527
33117,98648,5.677603,5.907037,6.260518,6.382228,4.497751
33118,98649,3.949904,3.000000,2.566540,1.607445,0.974659
33119,98650,3.859649,2.564103,1.701702,0.799087,0.992063